body {
    background: #CBCBCB
}


.bg-main {
    background: #CBCBCB !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c0c0c0;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #c0c0c0;
}

.ant-modal-content {
    border-radius: 0 !important;
    border: 1px solid #585858;
}

.ant-modal-header {
    border: 0;
}

.ant-modal-footer {
    border: 0;
    margin-bottom: 24px;
    padding: 8px 24px;
}

.ant-modal-body {
    padding: 8px 24px;
}

.dart-btn {
    width: 175px;
    height: 40px;
    background-color: #585858;
    border-color: #585858;
}

.btn-dart {
    background-color: #585858;
    border-color: #585858;
}

.btn-dart {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.btn-add {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}


.dart-btn:hover {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.dart-btn-outline {
    width: 175px;
    height: 40px;
    color: #585858;
    border-color: #585858;
}


.dart-btn-outline:hover {
    color: #fff;
    border-color: #2e2e2e;
    background-color: #2e2e2e;
}

.ant-modal-mask {
    background: rgba(0, 0, 0, 0.35);
}


a.nav-link.active {
    background: #CBCBCB !important;
    border-color: #CBCBCB !important;
}

.nav-link {
    background: #F6F6F6 !important;
    border-color: #F6F6F6 !important;
}

.nav-link:hover {
    background: #CBCBCB !important;
}

.nav-tabs {
    border-color: #CBCBCB !important;
}

.nav-item {
    margin-bottom: 0 !important;
}

.bg-dart {
    background: #CBCBCB !important;
}